<p class=" font-popins text-center text-white text-xl md:text-3xl bg-black pb-2">Most Popular</p>
<div class="w-screen overflow-auto h-fit  bg-gradient-to-br from-red-900 to-slate-900">
  <div class="w-full h-full bg-gradient-to-br from-red-900 to-slate-900 flex gap-6">
    <div  *ngFor="let item of poplar ">
      <div class="w-64 h-full  text-center mt-1 flex flex-col">
        <img src="{{posterLink}}/{{item?.poster_path}}" alt="">
        <div class="text-white">
          <p>{{item?.title}}{{item?.name}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
