<p class=" font-popins text-center text-white text-xl md:text-3xl bg-black pb-2">Upcoming</p>
<div class="w-screen overflow-auto h-fit bg-gradient-to-br from-red-900 to-slate-900  ">
  <div class="w-full h-full bg-emerald-800 flex gap-6 bg-gradient-to-br from-red-900 to-slate-900">
    <div  *ngFor="let item of upcoming ">
      <div class="w-64 h-full text-center flex flex-col">
        <img src="{{posterLink}}/{{item?.poster_path}}" alt="">
        <div class="text-white">
          <p>{{item?.title}}{{item?.name}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
