<p class=" font-popins text-center text-white text-xl md:text-3xl bg-black pb-2">Upcoming</p>
<div class="w-screen overflow-auto h-fit bg-gradient-to-br from-red-900 to-slate-900  ">
  <div class="w-full h-full bg-emerald-800 flex gap-6 bg-gradient-to-br from-red-900 to-slate-900">
    <div  *ngFor="let item of upcoming ">
      <div class="w-64 h-full text-center flex flex-col">
        <img
         class="border-2 border-white rounded-md"
         src="{{posterLink}}/{{item?.poster_path}}" alt="">
        <div class="text-white text-center">
          <p class="font-popins font-extrabold text-xl md:text-2xl bg-clip-text bg-gradient-to-r
          from-white via-red-500 to-blue-500 text-transparent">
            {{item?.title}}{{item?.name}}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
