
<div class="w-[100%] h-20 bg-gradient-to-br from-blue-400 via-blue-500 to-blue-600
flex flex-row  items-center sticky top-0">
  <div class="w-10 h-10 flex items-center ">
    <img src="../../../assets/logo-white.svg" alt="">
    <h1 class="font-tilt text-white">  MovieBuff</h1>
  </div>

   <a class="absolute right-4 md:hidden">
    <svg class="w-10 h-10 hover:cursor-pointer stroke-[#ffffff] active:stroke-black" (click)="toggle()" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" >
      <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
     </svg>
   </a>

   <div class="invisible md:visible text-white w-96 h-16 absolute right-6
    flex items-center justify-center">
      <ul class="flex items-center justify-center gap-4">
        <li class="hover:text-black hover:cursor-pointer"><a routerLink="latest">Latest</a></li>
        <li class="hover:text-black hover:cursor-pointer"><a routerLink="now-playing">Now Playing</a></li>
        <li class="hover:text-black hover:cursor-pointer"><a routerLink="top-rated">Top Rated</a></li>
        <li class="hover:text-black hover:cursor-pointer"><a routerLink="upcoming">Upcoming</a></li>
      </ul>
   </div>
</div>

<div *ngIf="isShow" class="inset-0 bg-black/50 " (click)="toggle()">
  <div class="bg-slate-200 text-black w-full h-32  top-0 md:hidden">
    <div class="relative right-3 flex flex-col text-gray-500 items-center justify-center">
      <div class="flex flex-col mt-3">
        <button class="cursor-pointer hover:text-black" routerLink="/latest">Latest</button>
        <button class="cursor-pointer hover:text-black" routerLink="/now-playing">Now Playing</button>
        <button class="cursor-pointer hover:text-black" routerLink="/top-rated">Top Rated</button>
        <button class="cursor-pointer hover:text-black" routerLink="/upcoming">Upcoming</button>
      </div>
    </div>
  </div>
</div>

<!-- <header class="text-gray-600 body-font overflow-hidden bg-white fixed top-0 w-full">
  <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
    <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-indigo-500 rounded-full" viewBox="0 0 24 24">
        <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
      </svg>
      <span class="ml-3 text-xl">Tailblocks</span>
    </a>
    <nav class="md:ml-auto md:mr-auto flex flex-wrap items-center text-base justify-center">
      <a class="mr-5 hover:text-gray-900">First Link</a>
      <a class="mr-5 hover:text-gray-900">Second Link</a>
      <a class="mr-5 hover:text-gray-900">Third Link</a>
      <a class="mr-5 hover:text-gray-900">Fourth Link</a>
    </nav>
    <button class="inline-flex items-center bg-gray-100 border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-base mt-4 md:mt-0">Button
      <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
        <path d="M5 12h14M12 5l7 7-7 7"></path>
      </svg>
    </button>
  </div>
</header> -->
